*{
    margin: 0;
    padding: 0;
}

/*Modifica a cor do texto e do background quando o 
usuário seleciona um trecho do site*/
::selection{
    color: black;
    background: grey;
}


html, body{
    height: auto;
}

body{
    background: linear-gradient(180deg, rgba(84,84,84,1) 0%, rgba(0,0,0,1) 60%);
    background-repeat: no-repeat;
    width: auto;
    margin: 0 10%;
    text-align: center;
}

header{
    padding-top: 30px;
}

header img{
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

header h1{
    font-family: 'Oswald', sans-serif; 
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 20px black;

}

header a{
    display: inline;
    text-decoration: none;
    font-family: 'Oswald', sans-serif; 
    font-size: 30px;
    color: white;
}

.bio{
    margin: 20px 0;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.links li{
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    
}

span{
    font-weight: bold;
}

.links li a{
    text-decoration: none;
    margin: 20px 20px;
    padding: 20px 0;
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

/*Assim que o usuário passa o mouse por cima o botão muda de cor*/
.links li a:hover{
    text-decoration: none;
    margin: 20px 20px;
    padding: 20px 0;
    display: block;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.social{
    margin: 0 auto;
    width: 60%;
    
}

.social-links li{
    display: inline;
    
}

.social-links li a{
    text-decoration: none;
}

.social-links li a img{
    margin-top: 10px;
    width: 10%;
    
}

.linkedin{
    margin: 0 5%;
}

footer{
    color: white;
    padding: 30px 0;
}
